@model IEnumerable<Longhorn_Music_Team_17.ViewModels.SongReportViewModel>

@{
    ViewBag.Title = "SongReport";
}

<h2>Songs Report</h2>

<table class="table">
    <tr>
        <th>
            Song Title
        </th>       
        <th>
            Number of Purchase
        </th>
        <th>
            Revenue
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongTitle)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPurchase)
        </td>
        <td>
           $@Html.DisplayFor(modelItem => item.Revenue)
        </td>
       
    </tr>
}

</table>
