body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table#search tr:nth-child(even) {
    background-color: #f2f2f2;
}
table#search{
    width: 900px;
    border-bottom: 10px solid;
    border-bottom-color: #f2f2f2 ;
}

table#search td{
    font-size: 80%;
}

table#search thead, tbody, tr, td, th { display: block; text-align:left;}

table#search tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table#search thead th {
    height: 30px;
    font-size: 90%

    /*text-align: left;*/
}

table#search tbody {
    height: 400px;
    width:102%;
    overflow-y: auto;
}

table#search thead {
    /* fallback */
}
table#search tbody td, thead th {
    float: left;
}
    
.checkboxes{
    font-size: 10px;
}
.searchParms{
    float:left;
    width: 10%;
        
}
searchResults{
    float:right;
    width:90%;
}